* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul li {
  display: inline-block;
}
@media (max-width: 700px) {
  body {
    width: 90%;
    margin: auto;
  }
  img {
    width: 98%;
    height: 98%;
    border: brown solid 5%;
    padding: 10%;
  }
}
header,
footer {
  text-align: center;
  background-color: darkgreen;
}
.container {
  width: 70%;
  margin: auto;
}
h2 {
  border: brown solid 10px;
  padding: 30px;
}
