/* .gadna {
  /* text-align: center; */
/* width: 100vw; */

.dund {
  display: flex;
  width: 100vw;
}
.dund2 {
  display: flex;
  width: 100vw;
}

.dotor {
  background-color: rgb(203, 231, 231);
  width: 33vw;
  height: 400px;
  border: 1px solid black;
  border-radius: 20%;
  text-align: center;
  margin: 10px;
}
.dotor1 {
  background-color: rgb(206, 235, 235);
  width: 50vw;
  height: 400px;
  border: 1px solid black;
  border-radius: 20%;
  text-align: center;
  margin: 10px;
}
.dotor a {
  text-decoration: none;
  color: black;
}

.dotor a:hover {
  text-decoration: none;
  color: rgb(65, 51, 51);
  font-size: 25px;
  box-shadow: 1px;
}
