<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>site</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header id="header">
      <h1>Hello world</h1>
      <img src="proPic.avif" alt="black" />
      <p>my website</p>
    </header>
    <main>
      <div>
        <section class="sec">
          <div>
            <h2>About me</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
              ipsa sit assumenda omnis temporibus odio architecto corporis, amet
              nostrum cumque vel eius voluptate! Aut doloremque voluptatem iusto
              illo modi dolorum inventore, blanditiis illum quod quae nostrum
              eius tenetur nisi officia eos incidunt laboriosam! Rem obcaecati
              corporis expedita, sit odit, repellendus ad placeat porro eveniet
              optio, deserunt vero! Quia atque corporis minus, quos praesentium
              voluptatum a, minima ipsum aspernatur nisi enim eligendi ab modi
              nam dolore cupiditate culpa voluptates, consequuntur suscipit.
              Voluptatem vero, dolorum facilis, veniam, quae similique quidem ut
              voluptate atque nobis eius architecto explicabo nam at. Nobis,
              amet fuga!
            </p>
          </div>
          <div>
            <h2>About me</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
              ipsa sit assumenda omnis temporibus odio architecto corporis, amet
              nostrum cumque vel eius voluptate! Aut doloremque voluptatem iusto
              illo modi dolorum inventore, blanditiis illum quod quae nostrum
              eius tenetur nisi officia eos incidunt laboriosam! Rem obcaecati
              corporis expedita, sit odit, repellendus ad placeat porro eveniet
              optio, deserunt vero! Quia atque corporis minus, quos praesentium
              voluptatum a, minima ipsum aspernatur nisi enim eligendi ab modi
              nam dolore cupiditate culpa voluptates, consequuntur suscipit.
              Voluptatem vero, dolorum facilis, veniam, quae similique quidem ut
              voluptate atque nobis eius architecto explicabo nam at. Nobis,
              amet fuga!
            </p>
          </div>
        </section>
        <section class="sec">
          <div>
            <h2>Education</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consectetur cupiditate optio culpa, molestiae minus ipsam. Amet
              expedita quos, ut laborum fugiat, nobis nulla numquam corporis
              debitis ipsam deleniti veritatis? Et sit quo quasi quisquam sunt
              repellat, rerum minus sequi nesciunt omnis, cum animi accusantium
              rem ducimus expedita numquam sint eaque eligendi consectetur
              sapiente dolores inventore amet voluptatum? Facilis optio maiores
              id dicta ea at, eligendi cupiditate aspernatur nam unde, eveniet
              illo impedit quia saepe aliquid nihil alias veritatis natus
              nostrum mollitia. Nobis obcaecati sed assumenda similique odit
              recusandae architecto nemo qui nam nulla? Quae, ea dolor
              voluptates repudiandae qui illum!
            </p>
          </div>

          <div>
            <h2>Education</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consectetur cupiditate optio culpa, molestiae minus ipsam. Amet
              expedita quos, ut laborum fugiat, nobis nulla numquam corporis
              debitis ipsam deleniti veritatis? Et sit quo quasi quisquam sunt
              repellat, rerum minus sequi nesciunt omnis, cum animi accusantium
              rem ducimus expedita numquam sint eaque eligendi consectetur
              sapiente dolores inventore amet voluptatum? Facilis optio maiores
              id dicta ea at, eligendi cupiditate aspernatur nam unde, eveniet
              illo impedit quia saepe aliquid nihil alias veritatis natus
              nostrum mollitia. Nobis obcaecati sed assumenda similique odit
              recusandae architecto nemo qui nam nulla? Quae, ea dolor
              voluptates repudiandae qui illum!
            </p>
          </div>
        </section>
        <section class="sec">
          <div>
            <h2>Expierence</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem, dicta voluptates est quidem aperiam illo consequatur
              amet reprehenderit velit libero.
            </p>
          </div>

          <div>
            <h2>Expierence</h2>

            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem, dicta voluptates est quidem aperiam illo consequatur
              amet reprehenderit velit libero.
            </p>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <h3>contact</h3>
      <ul class="ul">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </footer>
  </body>
</html>
