<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="Style/Style.css" />
  </head>
  <body>
    <header>
      <h1>Lorem ipsum dolor sit amet.</h1>
      <img
        src="Images/0df1044482392cc4329521ab5945b3e837b11c55.png"
        alt="Profilepic"
      />
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </header>
    <main>
      <section>
        <h2>About me</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum quae
          soluta cumque eos in possimus rem, harum commodi quod alias? Ullam
          quo, consectetur ea eligendi, minus atque officia facere soluta porro
          consequatur deleniti assumenda voluptas unde at! Error, vero quos
          ullam dignissimos praesentium illum laudantium? Culpa distinctio
          magnam aperiam possimus animi beatae cumque. Sequi, id maxime porro
          quis reprehenderit atque? Debitis porro, animi dignissimos facilis
          mollitia corporis voluptatibus ipsa impedit accusamus sapiente dicta
          iste quia magni libero delectus cum perferendis voluptate praesentium
          deserunt quidem autem beatae. Minus aperiam delectus molestiae, aut
          natus, quidem ea architecto nobis sequi exercitationem, soluta iusto.
        </p>
      </section>
      <section>
        <h2>Education</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos voluptas
          illum libero perferendis aut aperiam, explicabo omnis, eum tenetur
          nihil, atque harum obcaecati consequatur optio molestiae? Accusamus
          temporibus fugiat laborum ratione odio labore quaerat, consequatur,
          pariatur dignissimos quisquam numquam sunt incidunt enim eaque totam,
          magnam a? Unde debitis praesentium aspernatur expedita ex fuga quo
          veniam, repudiandae sed doloremque earum ea neque eligendi quasi iure
          autem eos ullam libero accusamus aliquid. Magnam cupiditate molestias
          rerum doloribus nam exercitationem eveniet laudantium tempora nemo
          veniam sapiente ipsum adipisci ducimus hic culpa libero fugit porro,
          sint beatae, illum pariatur. Neque odio accusantium totam
          reprehenderit!
        </p>
      </section>
      <section>
        <h2>Expierence</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga atque
          voluptatum laborum, saepe facere adipisci veritatis quas quidem
          nesciunt error magni consequuntur officiis aliquid. Debitis numquam
          corrupti molestiae? Rerum eveniet sequi quae, amet impedit vero
          repellendus qui commodi eius voluptatum, aliquam vel. Obcaecati
          recusandae tempore eum libero facilis, assumenda amet est ea tenetur
          atque maiores illum nostrum officiis modi eos unde veniam dolor
          cumque? Veniam consectetur sed exercitationem eveniet? Impedit iste
          earum tenetur at illum saepe laborum, laudantium possimus placeat
          perspiciatis minima quos soluta modi, culpa eius et blanditiis, autem
          voluptatum enim. Ipsum quisquam optio iste vitae voluptatibus illum
          quos.
        </p>
      </section>
    </main>
    <footer>
      <p>Email:blank@mail.com</p>
    </footer>
  </body>
</html>
