* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: white;
  height: 10%;
  padding: 5%;
}

#box1 {
  background-color: blue;
  height: 100%;
  padding: 5% 5% 10% 5%;
  display: flex;
}
.box1-1 {
  background-color: white;
  padding: 5%;
  width: 50%;
  height: 100%;
  z-index: 15;
}
.box1-2 {
  width: 50%;
  z-index: 16;
}
.box1-2 img {
  width: 100%;
  height: 100%;
}

/* section box2 */
#box2 {
  z-index: 10;
  position: relative;
}
.box2-1 {
  float: left;
  width: 600px;
  background-color: pink;
  margin-top: -30vw;
  z-index: 1;
}

.box2-2 {
  float: right;
  width: 40%;
  padding: 5%;
  z-index: 11;
}
.clearfix {
  clear: both;
}
.marginB {
  margin-bottom: 5vw;
}

/* image */
.content-img {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
}
.image1 {
  width: 40%;
  margin-top: 12vw;
  margin-left: 1vw;
  border: 2px solid white;
}

.image2 {
  width: 40%;
  margin-top: 7vw;
  margin-left: 15vw;
  border: 2px solid white;
}

.image3 {
  width: 40%;
  margin-top: 10vw;
  margin-left: 40vw;
  border: 2px solid white;
  z-index: 999;
}

/* section3 */
#box3 {
  z-index: 12;
  position: relative;
}

.box3-1 {
  position: absolute;
  background-color: red;
  margin-left: 50vw;
  margin-top: -10vw;
  height: 45vw;
  width: 20vw;
  z-index: 13;
}

#box4 {
  z-index: 21;
}
#box4 p {
  z-index: 25;
  padding: 0 15vw;
  position: absolute;
  margin-top: 10vw;
  text-align: center;
}

#box5 {
  position: relative;
  padding: 2vw 2vw;
  display: flex;
}
.box5-1 {
  position: relative;
}
