@media (max-width: 768px) {
  #menuicon {
    background-color: #053c5e;
    width: 6vw;
    margin: 5px;
  }
  body {
    margin: 0px;
    background: url(https://i.pinimg.com/originals/ea/a9/23/eaa923d6c1cb0e8af1ad13b062f76bab.gif);
    background-size: 200%;

    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  }
  #profile {
    color: #227c9d;
    background-color: #fe6d73;
    width: 30vw;
    height: 0vw;
    text-align: center;
  }
  #experience {
    color: #ffd166;
  }
  #education {
    color: #ffd166;
  }
  #skills {
    color: #ffd166;
  }

  li {
    list-style: none;
    display: inline;
    margin: 10px 5px;
    /* color: #ffd166; */
    /* background-color: #053c5e; */
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
  }
  header {
    display: flex;
    background-color: #073b4c;
    font-family: "Gruppo", cursive;
  }
  a {
    text-decoration: none;
    margin: auto;
  }
  img {
    width: 50vw;
    margin: 5vw 25vw;
  }
  .card {
    font-family: "Gruppo", cursive;
    font-size: 30px;
    margin: auto;
    margin-left: 30vw;
  }
}
@media (min-width: 768px) {
  #menuicon {
    background-color: #053c5e;
    width: 2vw;
    margin: 1px;
  }
  body {
    margin: 0px;
    background: url(https://i.pinimg.com/originals/ea/a9/23/eaa923d6c1cb0e8af1ad13b062f76bab.gif);
    background-size: 100%;

    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  }
  #profile {
    color: #ffd166;
  }
  #experience {
    color: #ffd166;
  }
  #education {
    color: #ffd166;
  }
  #skills {
    color: #ffd166;
  }

  li {
    list-style: none;
    display: inline;
    margin: 1px 1px;
    color: #ffd166;
    /* background-color: #053c5e; */
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
  }
  header {
    display: flex;
    background-color: #073b4c;
    font-family: "Gruppo", cursive;
  }
  a {
    text-decoration: none;
    margin: auto;
  }
  img {
    width: 10vw;
    margin: 1vw 45vw;
    display: inline;
  }
  .card {
    font-family: "Gruppo", cursive;
    font-size: 30px;
    margin: auto;
    margin-left: 30vw;
  }
}
