h1 {
  margin-left: 250px;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin-right: 100px;
  margin-left: 100px;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: bisque;
  text-decoration: none;
  border: solid 2px grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

p:hover {
  padding: 5px;
  text-decoration: underline;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
img:hover {
  transform: scale(1.2) rotate(5deg);
}
