.box {
  content: "";
  width: 30vw;
  background-color: aqua;
  text-align: center;
  position: absolute;
  z-index: 1;
  display: inline;
  box-sizing: border-box;
}
.box::after {
  content: "border";
  display: inline;
  width: 28vw;
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
}
