.gadna {
  /* text-align: center; */
  width: 100vw;
}
.dund {
  display: flex;
  width: 100vw;
}
.dund2 {
  display: flex;
  width: 100vw;
}

.dotor {
  background-color: rgb(215, 226, 226);
  width: 33vw;
  height: 400px;
  border: 1px solid black;
  border-radius: 20%;
  text-align: center;
  margin: 10px;
}
.dotor1 {
  background-color: rgb(210, 224, 224);
  width: 50vw;
  height: 400px;
  border: 1px solid black;
  border-radius: 20%;
  text-align: center;
  margin: 10px;
}
.dotor1 a {
  text-decoration: none;
  color: black;
}
